@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    --color-hover: rgb(6, 146, 67);
    --transition: all 0.2s ease;


}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 75px;
    height: 100%;
    background: #232423;
    padding: 8px 16px ;
    transition: var(--transition);
}

.sidebar.expand{
    width: 250px;
    transition: var(--transition);
}

.nav-header{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.nav-header .logo{
    color: #24A559;
    font-size: 23px;
    font-weight: 600;
    opacity: 0;
    transition: var(--transition);
}

.sidebar.expand .nav-header .logo{
    opacity: 1;
    transition: var(--transition);
    
}
.nav-header .btn-menu{
    position: absolute;
    color: #fff;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 23px;
    cursor: pointer;
    margin-right: 10px;
    transition: var(--transition);

}

.sidebar.expand .nav-header .btn-menu{
    margin-right: 0;
    transition: var(--transition);

}
.nav-links{
    margin-top: 50px;
    height: 100%;

}

.nav-links li{
    position: relative;
    margin: 8px 0;
    list-style: none;

}

.nav-links li:hover {
    background: var(--color-hover);
}

.nav-links i{
    color: #000;
    height: 50px;
    min-width: 50px;
    font-size: 23px;
    text-align: center;
    line-height: 50px;


}
.nav-links li a{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    background: #fff;
    
}

.nav-links li:hover a{
    background: var(--color-hover);

}

.nav-links li:hover i{
    color: #fff;
}

.nav-links li a .title{
    color: #000;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    display: none;
    transition: var(--transition);
}

.sidebar.expand .nav-links li a .title {
    display: block;
    transition: var(--transition);
}
.nav-links li:hover a .title{
    color: #fff;

}
.theme-wrapper{
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 250px;
    left: 0;
    padding: 8px 16px;
}

.theme-wrapper .theme-icon{
    font-size: 20px;
    color: #000;
    display: none;
    transition: var(--transition);
}

.sidebar.expand .theme-wrapper .theme-icon{
    display: block;

}


.theme-wrapper p{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    display: none;
    transition: var(--transition);
}

.sidebar.expand .theme-wrapper p{
    display: block;
}


.theme-wrapper .theme-btn{
    width: 40px;
    height: 20px;
    background: #e2e2e2;
    border-radius: 30px;
    position: relative;
}

.theme-wrapper .theme-btn .theme-ball{
    position: absolute;
    width: 15px;
    height: 15px;
    background: #000;
    border-radius: 50%;
    top: 2px;
    left: 3px;
}
/* CONTACTOS DEL KINDER */
.contenedor-contactos{
    background: linear-gradient(to right,#24A559, #008135, #24A559);
    padding-top: 25px;
    padding-bottom: 25px;
}


.contenedor-contactos .txt-contactos{
    color: #232423;
    font-size: 50px;
    top: 20px;
    left: 60px;
    text-align: center;
    z-index: 100;
}

.contenedor-contactos .title-contact{
    color: #fff;
    top: 20px;
    left: 60px;
    text-align: center;
    font-size: 25px;
}


.contenedor-contactos .email-general{
    color: #ABABAB;
    top: 20px;
    left: 60px;
    text-align: center;
    font-size: 15px;
    padding-top: 15px;
}

.contenedor-contactos .ps-contact{
    color: #ABABAB;
    top: 20px;
    left: 60px;
    text-align: center;
    font-size: 15px;
    padding-top: 15px;
}

.section-contactos .contenedor-contactos a{
    text-decoration: none;
    color: inherit;
}

.contenedor-banner{
    background: #000;

}
.contenedor-banner .banner-club{
    padding-left: 50px;
}

/*.contenedor-banner .image-design{
    display: inline-block;
    text-align: center;
}*/

.home{
    position: relative;
    top: 0;
    left: 70px;
    width: calc(100% - 70px);
    min-height: 100vh;
    background: #e2e2e2;
    z-index: 8;
    transition: var(--transition);
}


.sidebar.expand ~ .home{
    left: 0px;
    width: calc(100% - 0px);
    transition: var(--transition);
}


